# Python venv inside backend
backend/venv311/

# Python cache
**/__pycache__/
*.pyc

# Node modules
frontend/node_modules/

# Models
backend/models/*.pt
backend/models/*.joblib

# Environment variables
.env

# Build output
frontend/dist/
